<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs</title>
</head>
<body>
   
    <p>This is About EJS</p>
    <h2><%= 2+2 %></h2>
</body>
</html>